$white: #fff;
$black: #000;

$base__color: #333;

$link__color: $#c3251d;
$link__hovercolor: $#333;

$body_backgroundColor: #eee;

$nav__LinkColor: #333;

$primaryNav__BackgroundColor: $white;
$primaryNav__LinkColor: $white;

$secNav__BackgroundColor: $white;
$secNav__LinkColor: $nav__LinkColor;

$siteFooter__BackgroundColor: $white;
