.move-wrap:before,
.move-wrap-button:before {
	content: " ";
	display: table;
}

.move-wrap:after,
.move-wrap-button:after {
	clear: both;
	content: " ";
	display: table;
}

.move-wrap-button {
 background-color: #000;
 overflow: hidden;
 position: relative;
}
.move-wrap {
 background-color: #000;
 height: 1000px;	
 overflow: hidden;
 position: relative;
}
 
.diagonally1 {
 position: absolute;
 width: 100%;
 height: 100%;
 transform:translate(40%, 0%);  /* Starting position */
 animation: diagonally-tlbr 10s linear infinite reverse;  /* Apply animation to this element */
}

.diagonally1:nth-child(1) {
  animation-delay: -2s;
  transform:translate(5%, 0%);
  animation: diagonally-tlbr 15s linear infinite alternate;
}

.diagonally2 {
 position: absolute;
 width: 100%;
 height: 100%;
 transform:translate(0%, 0%);
 animation-delay: 5s;
 animation: diagonally-brtl 15s linear infinite;
}

.horizontally-lr {
 position: absolute;
 width: 100%;
 height: 100%;
 text-align: center;
 transform:translateX(40%);
 animation: horizontally 10s linear infinite alternate;
}

.vertically {
 position: absolute;
 width: 100%;
 height: 100%;
 
 transform:translateY(40%);
 animation: vertically-tb 15s linear infinite alternate;
}

.horizontally-rl {
 position: absolute;
 width: 100%;
 height: 100%;
 text-align: center; 
 transform:translateX( 50%);
 animation: horizontally-rl 20s linear infinite alternate;
}
.horizontally-rl:nth-child(2n+1) {
 animation: horizontally-rl 15s linear infinite reverse alternate;
}

.vertically2 {
 position: absolute;
 width: 100%;
 height: 100%;
 transform:translate(0%, 0%);
 animation: vertically2 25s linear infinite alternate;
}

/*
 * Set up movements. 
 */

 @keyframes horizontally {
 0%   { transform: translate(40%, 0%); opacity: 0.5;}
  25% { transform: translate(-20%, 0%); }
  50% { transform: translate(0%, 0%); opacity: 1;}
  75% { transform: translate(20%, 0%);}
 100% { transform: translate(-40%, 0%); opacity: 0.5;}
}

@keyframes horizontally-rl {
   0% { transform: translate(80%, -80%); opacity: 0.5; }
  25% { transform: translate(-20%, -20%);}
  50% { transform: translate(0%, 0%);opacity: 0.75;}
  75% { transform: translate(-20%, -20%);}
 100% { transform: translate(80%, -80%); opacity: 0.5;}
}

@keyframes diagonally-tlbr {
 0%   { transform: translate(75%, 0%); opacity: 0.5;	}
 25% { transform: translate(40%, 25%);  }
 50% { transform: translate(40%, 50%); opacity: 0.75; }
 75% { transform: translate(40%, 75%);  }
 100% { transform: translate(75%, 0%); opacity: 0.5; }
}

@keyframes diagonally-brtl {
 0%   { transform: translate(0%, 0%); opacity: 0.5;	}
 100% { transform: translate(75%, 40%); opacity: 0.75; }
}

@keyframes vertically-tb { 
	 0% { transform: translate(0%, 0%); opacity: 0.5; }
  25% { transform: translate(20%, 20%);}
  50% { transform: translate(0%, 75%); opacity: 0.75;}
  75% { transform: translate(40%, 20%);}
 100% { transform: translate(0%, 0%); opacity: 0.5; }
}

@keyframes vertically2 { 
	 0% { opacity: 0.5; transform: translate(0%, 0%); opacity: 0.5; }
  25% { transform: translate(20%, 20%);}  
  50% { opacity: 1; transform: translate(75%, 0%); opacity: 0.75; }
  75% { transform: translate(20%, 40%);}
 100% { opacity: 0.5;transform: translate(0%, 0%); opacity: 0.5; }
}
