
/* Banner Image Styling
--------------------------------------------- */

.banner-wrap {
    width: 100%;
    height: 160px;
}
.banner-image { 
    position: absolute;
    z-index: -9999;
    margin-top: 100px;
    padding-left: 80px;

    background-color: #9A6D12;
    height: 160px;
    width: 100%;
}

.banner-right {
    z-index: -9999;
    float: right;
    margin-right: 80px;
    margin-top: -15px;
}


/* Banner text/title Styling
     Centered horizontally between left logo and 
     right edge of screen, or left edge of any 
     right banner image.
--------------------------------------------- */

.banner-image .banner-image-title-pic { 
    font-family: 'Lustria', serif;
    font-size: 30px;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1005;
    height: 25%;
    margin-left: -50px;
    margin-top: -25px;
    color: #fff; 
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
}

.banner-image .banner-image-title-no-pic { 
    font-family: 'Lustria', serif;
    font-size: 30px;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1005;
    height: 25%;
    margin-left: -50px;
    margin-top: -25px;
    color: #fff; 
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
}