.splash-wrap:before {
	content: " ";
	display: table;
}
.splash-wrap {
 	background-color: #000;
	margin: 0 auto;
	max-width: 1900px;
  height: 1000px;
}

.splash-wrap:after {
	clear: both;
	content: " ";
	display: table;
}

.poet-pic {
  position: absolute;
  margin-left: 300px;
  width: 180px;
  animation: shoot 10s cubic-bezier(0.99, 0.1, 1, 1) infinite;
  animation-name: shoot;
  border-radius: 50%;
  font-size: 16px;
  color: white;
}

.poet-pic:nth-child(2) {
  position: absolute;
  top: 75px;
  left: 500px;
  animation: shoot 15s infinite;
  animation-delay: 1s;
  animation-direction: reverse;
  z-index: 99;
}
.poet-pic:nth-child(3) {
  position: absolute;
  top: 200px;
  left: 100px;
  animation: mymove 10s infinite;
  animation-delay: -2s;
  animation-direction: reverse alternate;
}
.poet-pic:nth-child(4) {
  position: relative;
  top: 300px;
  left: 200px;
  animation: side2side 30s infinite;
  animation-delay: 2s;
  animation-direction: alternate;
}
.poet-pic:nth-child(5) {
  position: absolute;
  top: 75px;
  left: 500px;
  animation: mymove 40s infinite;
  animation-delay: 0;
  animation-direction: alternate;
}
.poet-pic:nth-child(6) {
  position: absolute;
  animation: side2side 30s infinite;
  animation-delay: -5s;
  animation-direction: alternate reverse;
  top: 300px;
  left: 1200px;
}

@keyframes shoot {
  0% {
    transform: translate(50vw, 50vh) scale(0.5);
  }
}

@keyframes side2side {
    0% { left: 0%; }
    100% { left: 100%; }
}
@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 500px;}
    75%  {top: 100px}
    100% {top: 200px;}
}